
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav>
                <a routerLink='/digital' routerLinkActive='active'><strong>C</strong>lock</a>
                <a routerLink='/timer'  routerLinkActive='active'><strong>T</strong>imer</a>
                <a routerLink='/stopwatch'  routerLinkActive='active'><strong>S</strong>topwatch</a>
                 <a routerLink='/calender/0'  routerLinkActive='active'><strong>C</strong>alender</a>

            </nav>
            
             <router-outlet></router-outlet>
            
        </div>
        

    </div>

</div>


  <p id="note">Note:for proper functioning <strong>refresh</strong> the page before start.</p>